/* Gerencie seus projetos */

.todo-conteudo-gerencia-projetos{
    background-color: #FF3773;
    color:#F2F2F2;
    padding: 67px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas{
    margin-top: 48px;
}
